/* $font-stack:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

$font-size: 1.3em;
@import './components/colors.scss';

  } */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: italic small-caps bold 1.2rem/2 cursive;
}

nav {
  .navbar {
    width: 100%;
    display: flex;
    padding: 0px 40px;
  }

  .navbar-nav {
    flex-direction: row;
    padding: 0px 10px;
  }

  .nav-item {
    padding: 0px 10px;
  }

  .navbar__logo {
    background: center / contain no-repeat url('../img/icons/logo.svg');
    height: 40px;
    width: 40px;
  }
}

.navbar-brand {
  justify-content: flex-start;
  position: relative;
}

.navbar-change {
  justify-content: flex-end;
  position: relative;
}

.nav-system {
  display: flex;
  flex-wrap: nowrap;
}

section {
  padding: 3% 3%;
}

.card {
  margin: 10px;
}

.btn-primary {
  border-radius: inherit;
}

.card-center {
  justify-content: space-between;
}

.container-card {
  display: flex;
  flex-wrap: wrap;

  .card {
    min-width: 300px;
    max-width: min-content;

    .card-body {
      justify-content: space-between;
    }

    .card-body-container {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
      text-align: justify;
      padding: 5px;

      .card-title {
        padding: 10px;
      }
    }
  }
}

.footer {
  padding: 20px;
  background-color: #59a8fd;

  p {
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .article-desc {
    font-size: 0.8rem;
  }
}

@media (max-width: 640px) {
  .article-desc {
    font-size: 0.7rem;
  }

  .card-center {
    justify-content: center;
  }
}

@media (max-width: 740px) {
  .card-center {
    flex-direction: column;
    align-content: center;
  }

  .navbar {
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .navbar-brand {
    justify-content: center;
  }

}

@media (max-width: 1200px) {
  .articles .row {
    padding: 20px 0px;
  }

  .nav-system {
    flex-wrap: wrap;
  }

  .navbar-brand-change {
    justify-content: center;
  }

  .navbar__logo {
    margin: auto;
  }

  .navbar-change {
    justify-content: center;
  }

}

@media (max-width: 1400px) and(min-width: 1050px) {
  .card-center {
    justify-content: center;
  }
}